/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Croissant+One&family=Noto+Sans&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,600&family=Source+Code+Pro:wght@200&display=swap'); */
body,
html {
    height: 100%;
    background-color: #fbfbfb;
    /* font-family: 'sans-serif'; */
  }

*
 ::after,
 ::before {
    box-sizing: border-box;
}

main {
    margin-top: 80px;
}

.btn {
    border-radius: 0;
}

.bg-nav {
    background-color:#10467E;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    /* font-family: 'sans-serif'; */
}

a.navbar-brand {
    font-size: 25px;
    padding-left: 3px;
    font-family: 'sans-serif';
    color: #fff;
    cursor: pointer;
}

a.nav-link {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding-left: 20px;
    font-family: sans-serif;
}

.nav-item {
    padding-right: 10px;
    /* font-family: 'sans-serif'; */
}

ul {
    margin-left: auto;
}

.active-nav {
    border-bottom: 1px solid #eff1f1;
}
/* 
.w-50 {
    width: 50px!important;
} */

.main {
    background: #fbfbfb
}

table {
    /* font-family: 'sans-serif'; */
    font-style: normal;
    line-height: 25px;
    color: #10467E;
    border-bottom: 2px solid #7E7CA8 !important;
    border-radius: 10px;
  }
  
  

  .dataTables_wrapper .dataTables_filter  {
    font-size: 18px;
  }
  .dataTables_wrapper .dataTables_length{
    font-size: 18px;
  }
  .dataTables_info{
    font-size: 18px;
  }


  table tr th{
    border-bottom: 3px solid #7E7CA8 !important;
    font-family: sans-serif;
    font-size: 18px;
  }
  table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #000;

  }
  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid #bbb;
  }
   /* table tr th {
 
    border-top: 4px solid #bbb;
    text-align: left;
   } */
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
   table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  } 
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
/* .mainHeading{
  font-size: 20px; 
  font-family: 'sans-serif';
  color: #10467E;
} */

  .selectVendor {
    background:#10467E;
    border: none;
    color: #fff;
    font-size: 18px;
     width: 200px;
    height: 50px;
    border-radius: 10px;
    font-family: 'sans-serif';
  
}

.selectVendor1 {
    background: none;
    border: 1px solid #10467E;;
    font-size: 18px;
    color: #10467E;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: 'sans-serif';
}
.selectVendor:hover {
    background: white;
    color:  #10467E;
}
.selectVendor1:hover {
    background: #10467E;
    color: white
}

.mainTextHeads {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:  #10467E;
} 
 .mainText{
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 700;
}

/* 
last_reading */


/* previous page */
/* 
.previousReading{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
} */
/* register page */

.user_card {
    height: 400px;
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    background: #dadada;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background:  #10467E;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #8c7f7e !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.textbox {
    border: none;
    padding: 9px;
    width: 15vw;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background:  #10467E;
}


/* parameter input field */

/* parameter list */


  /* add equipment */
input[type=text], select,
input[type=date]{
    /* width: 100%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color:#7E7CA8;
  }
  

  /* Select Equipment */
#myUL {
    list-style-type: none;
  }
  .btn1{
    background-color: rgb(8, 182, 199);
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
  }
  
  #myUL li a {
    /* border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px; */
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
 /* #myInput{
    width: 150%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  
  }
   */
  ::placeholder{
      font-size: 18px;
      color:#7E7CA8;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
  }
 .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  /* media Query */

@media only screen and (max-width: 600px) {
    .selectVendor ,
    .selectVendor1 {
        font-size:0.875em;
        display:block;
        /* left:-60px; */
        margin-top:35px;
        width: 100%;
      }
      .container{
          padding: 0;
          margin: 0;
      }
      .navbar-toggler-icon{
        background-color: aliceblue;
        position: absolute;
        top: 22px;
        right: 12px;
      }
      .btnHeight{
          height: 65px;
      }
      .form-group{
        border: none;
    }
   

     .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        /* padding-left: 10px; */
      }
     
    
  }
 
@media only screen and (max-width: 500px) {
    .navbar-toggler-icon{
        background-color: aliceblue;
        position: absolute;
        top: 22px;
        right: 14px;
      }
      /* .form-group{
          border: none;
      } */
      .row{
        margin-top: -5px;
      }
}




@media only screen and (min-width: 1281px) {
  #btnSelectedRows {
    background:#10467E;
    border: none;
    color: #fff;
    font-size: 18px;
    /* margin-left: 30px; */
    width: 200px;
    height: 50px;
    border-radius: 10px;

    position: relative;
    bottom: 65px;
    left: 220px;
}
#save_btn{
  position: relative;
  right: 330px;
}
}