{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="previousReading"> ADD EQUIPMENT :</h3>
   </div>
<div class="container">
    <form id="myForm4" action="/add_equipment" method = "POST">
      <div class="row">
        <div class="col-25">
          <label for="fname">Hospital</label>
        </div>
        <div class="col-75">
    
          <!-- <input type="text" id="vender" name="vender" placeholder={{venderid}}> -->
          <select name="vender" id="vender">
            {% for row in data1 %}       
           
            <option value="{{row[1]}}">{{row[0]}}</option>
            {% endfor %}  
          </select>
           </div>
         </div>
         <div class="row">
          <div class="col-25">
            <label for="subject">Department</label>
          </div>
          <div class="col-75">
            <!-- <input type="text" id="lname" name="lastname" placeholder={{departmentid}}> -->
            <select name="deptid" id="deptid" >
              {% for row in data2 %}     
             
              <option value="{{row[1]}}">{{row[0]}}</option>
              {% endfor %}  
            </select>
          </div>
        </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Equipment Name</label>
        </div>
        <div class="col-75">
          <select  id="equipment" name="equipmentid">
            {% for row in data3 %}     
           <option value="{{row[1]}}">{{row[0]}}</option>
            {% endfor %}  
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Asset Code</label>
        </div>
        <div class="col-75">
          <input type="text" id="asset_cd" name="asset_cd" placeholder="Asset Code">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Parameter Template</label>
        </div>
        <div class="col-75">
          <select  id="equ_parameter_id" name="equ_parameter_id">
            {% for row in data4 %}     
           
            <option value="{{row[1]}}">{{row[0]}}</option>
            {% endfor %}  
          </select>
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="subject">Serial No</label>
        </div>
        <div class="col-75">
          <input type="text" id="serialno" name="serialno" placeholder="Serial No">
        </div>
      </div>
     
    </form>


    <div class="buttons d-flex justify-content-start mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 btnHeight">
          <button class="btn selectVendor1">Cancel &nbsp;<i class="fas fa-arrow-circle-right"></i></button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 btnHeight">
          <button class="btn selectVendor" formaction="/save_new_equipment" type="submit">Save Equipment&nbsp;<i class="fas fa-arrow-circle-right"></i></button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 btnHeight">
          <button class="btn selectVendor1">Template List &nbsp;<i class="fas fa-arrow-circle-right"></i></button>
        </div>
      </div>
  </div>
  </div>
  
  </body>
  </html>
  


{% endblock %}