{% extends "base.html" %}
{% block content %}

<div class="container-fluid grad">
    <div class="row rowHead">
        <div class="col-lg-5 col-12">
            <div class="hero-header-content">
                <p>Plan your life</p>
                <h1 class="AllEquipment">Get manage all <b> your equipments</b></h1>
                <p>
                  Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
                  Usu atqui laudem an.
                </p>
                <div class="buttons">
                     <button class="app-btn" type="button" id="button-addon2"><a href="/register">Sign Up</button>
                    <button class="app-btn" type="button" id="button-addon2"><a href="/logout">Login</a></button>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-12">
            <div class="hero-header-image">
               <img src="../static/hero-image.svg" alt="#" class=landImage>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

<input type="hidden" id="session_id" name="session_id" value={{session_id}}>
<input type="hidden" id="session_username" name="session_username" value={{session_username}}>