<link rel="stylesheet" href="style.css">

{% extends "base.html" %}
{% block content %}
<div class="container">
  <h3 class="mainTextHeads">Fillup values and observations:</h3>
  Vender:{{venderid}} | Department:{{deptid}} | Equipment:{{equipmentid}} 
  <h3 class="mb-3 mainTextHeads">Equipment : {{equ_name}}</h3>
  <form id ="myForm" class="form-horizontal" action="/save_reading1" method="POST">
  
   
    <tbody>
    {% for index in range (lenrow) %}

    <div class="row form-group formGroup">
      <label class="control-label col-sm-3" for="pwd">{{parameter_readings[index*2]}}:</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="pwd" placeholder="{{parameter_readings[index*2+1]}}" name="{{parameter_readings}} :">
      </div>
    </div>
    {% endfor %} 

  
   
    
    <div class="mt-4">
     <div class="row">        
      <div class="col-sm-12 col-md-6 col-lg-6 btnHeight">
        <button class="btn selectVendor1 " id="cancel_btn" onclick="myAction_reading()">Cancel <i class="fas fa-arrow-circle-right"></i></button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 btnHeight">
        <button class="btn selectVendor" id="save_btn" onclick="getAllValues2()">Save All <i class="fas fa-arrow-circle-right"></i></button>
      </div>
      
     </div>
    </div>
    <input type="hidden" id="equipmentid" name="equipmentid" value={{equipmentid}}>
     <input type="hidden" id="textall" name="textall" >
 
  </form>

 
</div>

<script>
var fruits=[""]
var nuts=[""]
var txt="21";
var j=1;
// document.getElementById("demo").addEventListener("click", myAddParamater);
//document.getElementById("demo").innerHTML = fruits;

function myAddParamater() {
  
  fruits.push(document.getElementById('add_para').value);
  nuts.push(document.getElementById('add_para').value);
  var x = fruits.length;
  var i;
 
  for (i=1; i<x; i++){
  }
  txt =  document.getElementById("demo").value = fruits[j]+" : "+nuts[j]+"<br>"+" "+txt;
  alert("ok",txt) 
j++;
}
function myFunction() {
  document.getElementById("demo").innerHTML = "YOU CLICKED ME!";

}

function getAllValues2() {
    var y = document.getElementById("myForm");
    console.log(y)
    var txt = "";
    var i;
    var txtname="";
    var jsontxt ="{";
    
    var fruits, text, fLen, i,n, index_flag="False", txtn="";
    for (j = 0; j < y.length; j++) {
        if (index_flag=="True"){
           index_flag="False";
           continue;
        }
          text = y.elements[j].value ;
    //    n = text.indexOf("|-"); 
    //    if (n >=0) {
    //       index_flag = "True";
    //       //txt += "'"+fruits[i+1]+ "' : '" +fruits[i+3]+"', ";
    //       x[i]= y[i+1];
    //       x[i+1] = y[i+3];
    //       i=i+2;
             continue;
    //    }   
    }
    x = y;
    for (i = 0; i < x.length-10; i++) {
      txt = x.elements[i].value ;
      //alert("No1");
      txtname = document.getElementById("myForm").elements[i].name;
      //alert("No2 ");
      jsontxt = jsontxt + "\"" + txtname + "\"" + " : \"" + txt +"\",";
    }
    var jsonelem = jsontxt.replace(/,$/,'}');
    //document.getElementById("demo").innerHTML = patt1 ;
    alert (jsonelem) ;
    document.getElementById("textall").value=jsonelem;
    return (jsonelem)
  }
</script>

{% endblock %}

