{% extends "base.html" %}
{% block content %}

<h3> Click the button to download the CSV file </h3>  
  
<!-- create an HTML button to download the CSV file on click -->  
<button onclick="download_csv_file()"> Download CSV </button>  
<script>
   
   
    
var myData1 = localStorage['myData'] ;
console.log(myData1);
localStorage.removeItem( 'myData1' ) ; // Clear the localStorage
var firstData = myData1;
var secondData = myData1;
alert('firstData: ' + firstData + '\nsecondData: ' + secondData);
    
//create a user-defined function to download CSV file   

    function download_csv_file() {  
        var csv = 'Name,Profession\n';
    
        //merge the data with CSV  
        myData1.forEach(function(row) {  
                csv += row.join(',');  
                csv += "\n";  
        });  
       
        //display the created CSV data on the web browser   
        document.write(csv);  
      
         
        var hiddenElement = document.createElement('a');  
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);  
        hiddenElement.target = '_blank';  
          
        //provide the name for the CSV file to be downloaded  
        hiddenElement.download = 'Famous Personalities.csv';  
        hiddenElement.click();  
    }  
</script>  








{% endblock %}