{% extends "base.html" %} {% block content %}

    <script>
      $(document).ready(function(){
    	 var baseurl = "http://192.168.1.115:5000/select_e";
    	 var xmlhttp = new XMLHttpRequest();
    	 xmlhttp.open("GET",baseurl+"/all",true);
    	 xmlhttp.onreadystatechange = function(){
    		 if(xmlhttp.readyState==4 && xmlhttp.status ==200){
          console.log(JSON.parse(xmlhttp.responseText));
          var persons = JSON.parse(xmlhttp.responseText);
    			 $("#example").DataTable({
    				data:persons,
    				"columns":[                           
    					{"data":"equ_id"},
    					{"data":"èqu_name"},
    					{"data":"equ_model"},
    					{"data":"equ_serialno"}

    				]
    			 });
    		 }
    	 };
    	 xmlhttp.send();
      });
    </script>  
  </head>
  <body>
    <table id="example" class="display" style="width:100%">
      <thead>
            <tr>
                <th>Select</th>
                <th>Equipment Id</th>
                <th>Equipment Name</th>
               
            </tr>
        </thead>
        <tbody >
            {% for row in data %}
            <tr>
                <td>
                    <input type="radio" value={{row[1]}} id="equipment" multiple name="equipmentid" aria-label="multiple select example" style="margin-top:42px";>
                </td>
                <td>{{row[1]}}</td>
                <td>{{row[0]}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>

{% endblock %}