{% extends "base.html" %} {% block content %}



<div>
    <button class="btn mt-2" onclick="history.back()" id="back"><i class="fas fa-angle-left fa-3x"></i></button>
    <span class="mainTextHeads ml-4 ">Select Department</span>
    <div class=" text-center VenderName">Vender :{{name}}</div>
</div>


<div class="container">
    <form id="myForm" action="/select_equip" method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-start table-striped Department">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deptid" id="deptid" value={{row[1]}} required>
                            </div>
                        </td>
                        <td>{{row[1]}}</td>
                        <td>{{row[0]}}</td>

                    </tr>
                    {% endfor %}
        </div>
        </tbody>
        </table>
</div>

<button class="btn mt-3 selectVendor" id="department" type="submit">Select Department <i class="fas fa-arrow-circle-right"></i></button><br>
<input type="hidden" id="vender" name="venderid" value={{venderid}}>

</form>
</div>
{% endblock %}