{% extends "base.html" %} {% block content %}

<div class="container">
    <div>
        <div>
            <p class="mainHeading">Selected Data:</p>
            <ol class="">
              <li class="list-item">Vender: {{venderid}}</li>
              <li class="list-item">Department: {{deptid}}</li>
            </ol>
          </div>
    
    </div>

    <p class="mainHeading"> Select Equipment :</p>
   
    <form id="myForm2" action="/last_reading">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped EquTable ">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Equipment Id</th>
                        <th>Equipment Name</th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>
                            <input type="radio" value={{row[1]}} id="equipment" multiple name="equipmentid" aria-label="multiple select example" required>
                        </td>
                        <td>{{row[1]}}</td>
                        <td>{{row[0]}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
       <div class="d-flex justify-content-start">
        <button class="btn selectVendor1 mt-3"  name="Add equipmemnt" value="Add Equipment"> Add Equipment&nbsp;<i class="fas fa-arrow-circle-right"></i></button>
        <!-- <input type="submit" name="Add equipmemnt" value="Add Equipment" class="selectVendor">Add Equipment<i class="fas fa-arrow-circle-right"></i> -->
        <input type="hidden" id="vender" name="venderid" value={{venderid}}>
        <input type="hidden" id="dept" name="deptid" value={{deptid}}>
        <button class="btn btn-primary selectVendor ml-2 mt-3" id="department" type="submit">Select Equipment <i class="fas fa-arrow-circle-right"></i></button><br>
       </div>
    </form>
</div>
{% endblock %}


<!-- 
<select class="form-select" id="equipment" multiple name="equipmentid" aria-label="multiple select example" required>
  {% for row in data %}           
  <option value={{row[1]}}>{{row[0]}}</option>
  {% endfor %}  
</select> -->